{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodaj kontakt</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Zapisz" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('contactdetails_index') }}">Powrót do listy</a>
        </li>

    </ul>
{% endblock %}
