{#{% extends "::base.html.twig" %}#}
{#{% block body %}#}
    {#<ul>#}
        {#<ul>#}
            {#<li><a href="{{ path('contactdetails_index') }}">Contact Details</a></li>#}
            {#<li><a href="{{ path('aktor_index') }}">Lista aktorów</a></li>#}
            {#<li><a href="{{ path('film_index') }}">Lista filmów</a></li>#}
        {#</ul>#}
    {#</ul>#}
    {#{% block content %}#}
    {#{% endblock %}#}
{#{% endblock %}#}


