{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista wszystkich kontaktów</h1>

    <table>
        <thead>
            <tr>

                <th><div class="col-md-3"><p>Imie</p></div></th>
                <th><div class="col-md-9"><p>Nazwisko</p></div></th>


            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}



            <tr>

                <td><div class="col-md-3"><p>{{ contact.firstname }}</p></div></td>
                <td><div class="col-md-9"><p>{{ contact.lastname }}</p></div></td>

            </tr>

        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contacts_new') }}">Dodaj nową osobę</a>
        </li>
    </ul>
{% endblock %}
